<?xml version="1.0" ?>
<robot 
       xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="hex1103_ft">


  <!-- basic ROS URDF model of the "hex1103_ft" (aka Spacemouse)
       six-axis force/torque sensor.
       The sensor is modeled using the three main parts only, namely
       - upper ring (moving) mounting the tool
       - base plate and ground plate (fixed) with sensors and microcontrollers.

       By default, there is a static link in-between base-plate and tool-plate,
       but this could be changed to an (unacted) 6-DOF joint if you want to
       simulate realistic deflection under load. In this case you will also
       need a proper Gazebo physics simulation setup with controller configuration.

       Sensor size:
       d_base_outer = 114mm, 
       h_base_ring  = 18 mm
       h_upper_ring = 7 (+1 mm for circular "notch"), effective 8mm
       d_outer = 90mm (upper ring), but plus sensor modules: 108mm
       mass = about 150 grams

       The origin of the model is at the bottom of the *base_plate*,
       basically in the center of the sensor.
       Adjust the transformations from robot and to tool accordingly.
   -->


  <link name="world" />


  <!-- this publishes joint_states according to joint transmission's -->
  <gazebo>
    <plugin name="pa10_gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotParam>hex1103_ft_description</robotParam>
      <robotNamespace>hex1103_ft</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>

  
  <link name="hex1103_ft">
    <!-- base ring size: diameter 43mm, height 22+23mm. -->
    <inertial>
      <origin xyz="0 0 ${0.016/2}" />
      <mass value="0.2" />
      <inertia  ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.00005" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" />
        <material name="dummy" >
          <color rgba="0.5 0.9 0.5 1.0" />
        </material> 
        <geometry>
          <mesh filename="package://tams_printed_ft/meshes/hex1103-six-axis-ft-v2-base-ring-h15.dae" scale="0.001 0.001 0.001" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 ${0.016/2}" />
        <geometry>
          <cylinder radius="${0.114/2+1}" length="0.016" />
        </geometry>
    </collision>
  </link>

  <gazebo reference="hex1103_ft">
      <material>Gazebo/White</material>
      <turnGravityOff>false</turnGravityOff>
      <selfCollide>false</selfCollide>
      <!-- kp: stiffness kd: damping mu1, mu2: friction -->
      <mu1>100.0</mu1>
      <mu2>100.0</mu2>
      <kp>1000000.0</kp>
      <kd>1.0</kd>
  </gazebo>

  <link name="hex1103_ft_upper_ring">
    <!-- effective height 8mm, outer diameter 108mm -->
    <inertial>
      <origin xyz="0 0 ${0.008/2}" />
      <mass value="0.10" />
      <inertia  ixx="0.00002" ixy="0" ixz="0" iyy="0.00002" iyz="0" izz="0.00001" />
    </inertial>
    <visual>
      <!-- note: this mesh is translated by (0,0,0.018) from the origin -->
      <origin xyz="0 0 -0.018" />
      <material name="silver" >
        <color rgba="0.9 0.9 0.9 1.0" />
      </material> 
      <geometry>
        <mesh filename="package://tams_printed_ft/meshes/hex1103-six-axis-ft-v2-upper-ring-sensor-modules-arduino.dae" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <collision>
        <origin xyz="0 0 ${0.008/2}" />
        <geometry>
          <cylinder radius="${0.104/2+1}" length="0.008" />
        </geometry>
      </collision>
  </link>

  <gazebo reference="hex1103_ft_upper_ring">
      <material>Gazebo/White</material>
      <turnGravityOff>false</turnGravityOff>
      <selfCollide>false</selfCollide>
      <!-- kp: stiffness kd: damping mu1, mu2: friction -->
      <mu1>100.0</mu1>
      <mu2>100.0</mu2>
      <kp>1000000.0</kp>
      <kd>1.0</kd>
  </gazebo>

  <link name="hex1103_ft_grasp_handle">
    <!-- main diameter of grasp handle: 70 + 2*2.5 = 75mm -->
    <inertial>
      <origin xyz="0 0 -0.035" />
      <mass value="0.15" />
      <inertia  ixx="0.00002" ixy="0" ixz="0" iyy="0.00002" iyz="0" izz="0.00001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" />
      <material name="silver" >
        <color rgba="0.9 0.9 0.9 1.0" />
      </material> 
      <geometry>
       <mesh filename="package://tams_printed_ft/meshes/hex1103-six-axis-ft-v2-grasp-handle-70mm.dae" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" />
      <geometry>
        <mesh filename="package://tams_printed_ft/meshes/hex1103-six-axis-ft-v2-grasp-handle-70mm.dae" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="hex1103_ft_grasp_handle">
      <material>Gazebo/White</material>
      <turnGravityOff>false</turnGravityOff>
      <selfCollide>false</selfCollide>
      <!-- kp: stiffness kd: damping mu1, mu2: friction -->
      <mu1>100.0</mu1>
      <mu2>100.0</mu2>
      <kp>1000000.0</kp>
      <kd>1.0</kd>
  </gazebo>

  <joint name="hex1103_ft_upper_ring_joint" type="fixed">
    <parent link="hex1103_ft" />
    <child link="hex1103_ft_upper_ring" />
    <origin xyz="0 0 0.018" rpy="0 0 0" />
  </joint>

  <joint name="hex1103_ft_grasp_handle_joint" type="fixed">
    <parent link="hex1103_ft" />
    <child link="hex1103_ft_grasp_handle" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="world_hex1103_ft_joint" type="fixed">
    <parent link="world" />
    <child link="hex1103_ft" />
    <origin xyz="0.5 0 0.1" rpy="0 0 0" />
  </joint>

</robot>
